<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Base Page</title>
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="nav">
        <a class="nav-link active" href="{% url 'myapp:home' %}">Home Page</a>
        
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'myapp:sample' %}">sample</a>
        <a class="nav-link" href="{% url 'myapp:logout' %}">Logout</a>
        {% else %}
        <a class="nav-link" href="{% url 'myapp:register' %}">Registration</a>
        <a class="nav-link" href="{% url 'myapp:login' %}">Login</a>

        {% endif %}
                
      </nav>
      <h1>Welcome to Homepage</h1>
    {% block content %}
    {% endblock %}
</body>
</html>